<div class="hero-bg">
  <div class="rainbow-stripes">
    <div class="stripe-container">
      <svg
        viewBox="0 0 250 1000"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
      >
        <!-- Navy stripe (leftmost) -->
        <path
          d="M 10,1000 L 10,400 Q 10,50 0,0 L 28,0 Q 38,50 38,400 L 38,1000 Z"
          fill="#387a9b"
        />
        <!-- Teal stripe -->
        <path
          d="M 42,1000 L 42,400 Q 42,50 52,0 L 78,0 Q 68,50 68,400 L 68,1000 Z"
          fill="#4f9a8a"
        />
        <!-- Green stripe -->
        <path
          d="M 72,1000 L 72,400 Q 72,50 92,0 L 118,0 Q 98,50 98,400 L 98,1000 Z"
          fill="#9caf88"
        />
        <!-- Yellow stripe -->
        <path
          d="M 102,1000 L 102,400 Q 102,50 132,0 L 158,0 Q 128,50 128,400 L 128,1000 Z"
          fill="#e9b44c"
        />
        <!-- Orange stripe -->
        <path
          d="M 132,1000 L 132,400 Q 132,50 172,0 L 198,0 Q 158,50 158,400 L 158,1000 Z"
          fill="#d4804f"
        />
        <!-- Red stripe (rightmost) -->
        <path
          d="M 162,1000 L 162,400 Q 162,50 212,0 L 238,0 Q 188,50 188,400 L 188,1000 Z"
          fill="#e85a4f"
        />
      </svg>
    </div>
  </div>
</div>